<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- cssのスタイルシート -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!-- Vue.jsでの簡単なタスク管理アプリの作成 -->
    <div id="app">
        <!-- 見出し -->
        <h2>TODO List</h2>
        <!-- 入力フォームとボタン -->
        <form v-on:submit.prevent><!-- submitイベントを無効にする(ページリロード無効) -->
            <input type="text" v-model="newItem">
            <button v-on:click="addItem">Add</button>
        </form>

        <ul>
            <!-- 入力データのリスト表示 -->
            <li v-for="(todo, index) in todos">
                <input type="checkbox" v-model="todo.isDone">
                <!-- チェックボックス押下判定 -->
                <span v-bind:class="{ done: todo.isDone }">{{ todo.item }}</span>
                
                <!-- タスクの削除ボタン -->
                <button v-on:click="deleteItem(index)">Delete</button>
            </li>
        </ul>

        <pre>{{ $data }}</pre><!-- 入力データの確認 -->

        <br>
        <button v-on:click="time">現在時刻</button> <!-- 現在時刻の表示 -->
        <p>
            {{ now }}
        </p>

        <br>
        <!-- 算出プロパティ（getterとsetter） -->
        <p>base price(本体価格): <input type="text" v-model="basePrice"></p>
        <p>base price(税込価格): <input type="text" v-model="taxIncludedPrice"></p>

        <br>
        <!-- 算出プロパティ（キャッシュ有りとキャッシュなし） -->
        <h2>computed（キャッシュ有り）</h2>
        <ol>
            <li>{{ computedNumber }}</li>
            <li>{{ computedNumber }}</li>
            <li>{{ computedNumber }}</li>
        </ol>
        <h2>methods（キャッシュなし）</h2>
        <ol>
            <li>{{ methodsNumber() }}</li>
            <li>{{ methodsNumber() }}</li>
            <li>{{ methodsNumber() }}</li>
        </ol>

        <br>
        <!-- 算出プロパティ（キャッシュ有りとキャッシュなし） -->
        <p>{{ message }}</p>
        <p><input type="text" v-model="message"></p>

        <br>
        <!--  単位変換（km と m の値） -->
        <p><input type="text" v-model="km"> km</p>
        <p><input type="text" v-model="m"> m</p>

        <br>
        <!--  deepオプション（監視プロパティwatchのオプション） -->
        <ul>
            <li v-for="color in colors"> {{ color.name }} </li>
        </ul>
        <button v-on:click="onClick">Click!</button>
    </div>
    
    <!-- Vue.jsデータのインストール -->
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <!-- jsのファイル読み込み -->
    <script src="js/main.js"></script>
</body>
</html>